<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 HeaderBanner">
                    Hello
                </div>
            </div>
        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>

  {% block content %}
  {% endblock %}
</div>
</body>
</html>